<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Dashboard using HTML CSS and JavaScript</title>
    <!-- MATERIAL CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>Real-Time Data</h1>
    <div>
      <h2>Frost</h2>
      <div id="frost"></div>
    </div>
    <div>
      <h2>Weather Forecast</h2>
      <div id="weatherforecast"></div>
    </div>

    <script>
      // Key-to-name mapping
      var keyToNameMapping = {
        1059: "Temperature",
        1062: "Pressure",
        1064: "Gas",
        1065: "Humidity",
        1066: "Visible Light",
        1067: "Infrared",
        1068: "UV",
        1069: "Soil Moisture",
      };

      // Function to update the frost data on the web page
      function updateFrostData(data) {
        var frostCardsContainer = document.getElementById("frost");
        frostCardsContainer.innerHTML = "";

        for (var key in data) {
          if (data.hasOwnProperty(key)) {
            var card = document.createElement("div");
            card.className = "card";

            var cardTitle = document.createElement("h3");
            cardTitle.innerText = keyToNameMapping[key] || "Unknown";

            var cardValue = document.createElement("p");
            cardValue.innerText = data[key];

            card.appendChild(cardTitle);
            card.appendChild(cardValue);

            frostCardsContainer.appendChild(card);
          }
        }
      }

      // Function to update the weather forecast data on the web page
      function updateWeatherForecastData(data) {
        var weatherForecastContainer =
          document.getElementById("weatherforecast");
        weatherForecastContainer.innerHTML = "";

        for (var key in data) {
          if (data.hasOwnProperty(key)) {
            var card = document.createElement("div");
            card.className = "card";

            var cardTitle = document.createElement("h3");
            cardTitle.innerText = key;

            var cardValue = document.createElement("p");
            cardValue.innerText = data[key];

            card.appendChild(cardTitle);
            card.appendChild(cardValue);

            weatherForecastContainer.appendChild(card);
          }
        }
      }

      // Function to fetch real-time frost data from the server
      function fetchFrostData() {
        fetch("/frost")
          .then((response) => response.text())
          .then((data) => {
            var jsonData = JSON.parse(data.slice(6)); // Remove 'data: ' prefix
            updateFrostData(jsonData);
          })
          .catch((error) => console.error("Error:", error));
      }

      // Function to fetch real-time weather forecast data from the server
      function fetchWeatherForecastData() {
        fetch("/weatherforecast")
          .then((response) => response.text())
          .then((data) => {
            var jsonData = JSON.parse(data.slice(6)); // Remove 'data: ' prefix
            updateWeatherForecastData(jsonData);
          })
          .catch((error) => console.error("Error:", error));
      }

      function fetchData() {
        fetchFrostData();
        fetchWeatherForecastData();
      }

      // Function to create EventSource object to receive real-time frost data updates
      function connectToFrostSSE() {
        var frostEventSource = new EventSource("/frost");

        // Event listener for receiving data updates
        frostEventSource.onmessage = function (event) {
          var data = JSON.parse(event.data);
          updateFrostData(data);
        };

        // Event listener for handling SSE errors
        frostEventSource.onerror = function (error) {
          console.error("frostEventSource failed:", error);
          // Automatically reconnect after SSE error
          setTimeout(connectToFrostSSE, 1000);
        };
      }

      // Function to create EventSource object to receive real-time weather data updates
      function connectToWeatherForecastSSE() {
        var weatherForecastEventSource = new EventSource("/weatherforecast");

        // Event listener for receiving data updates
        weatherForecastEventSource.onmessage = function (event) {
          var data = JSON.parse(event.data);
          updateWeatherForecastData(data);
        };

        // Event listener for handling SSE errors
        weatherForecastEventSource.onerror = function (error) {
          console.error("weatherForecastEventSource failed:", error);
          // Automatically reconnect after SSE error
          setTimeout(connectToWeatherForecastSSE, 1000);
        };
      }

      // Fetch real-time data initially
      fetchData();

      // Connect to SSE for real-time updates
      connectToFrostSSE();
      connectToWeatherForecastSSE();
    </script>
  </body>
</html>
